body {
  background-image: url("F:/programaEksaminou/frontEnd/darkLOTRpictures/_10e2a050-b4c8-4f65-b79f-19fdc8c733bd.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.stats {
  border: 0.5px solid black;
  height: auto;
  width: fit-content;
}
#stats-list {
  list-style-type: none;
}

#inventory {
  border: black 1px solid;
}
