* {
  box-sizing: border-box;
}
body {
  background-color: rgba(1, 75, 30, 0.652);
  position: relative;
  overflow: hidden;
  font-family: "Cinzel", serif;
}

body::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 5%;
  right: 5%;
  height: 300%;
  background-image: url("https://raw.githubusercontent.com/odylogo2/Darkened-Trails/master/Darkened-trails-images/inTheForest.jpeg");
  background-size: cover;
  background-position: 25% 50%;
  filter: blur(10px);
  z-index: -1;
}
.status {
  position: absolute;
  top: -10px;
  right: 0%;
}

.stats {
  border: 0.5px solid black;
  height: auto;
  width: fit-content;
  display: inline-block;
  width: 15%;
  margin-top: 90px;
  overflow: hidden;
  background-color: rgba(211, 211, 211, 0.2);
}

#stats-list {
  list-style-type: none;
  margin-left: -30px;
}

#inventory {
  border-top: black 1px solid;
  padding-left: 3px;
}
.line {
  border-top: 0.4px solid black;
}
.inside-inv {
  display: none;
  list-style-type: none;
}
.inventory:hover .inside-inv {
  display: block;
  position: absolute;
  width: 15%;
  border: 0.5px solid black;
  margin-left: -1px;
  width: fit-content;
  list-style-type: none;
}

.dialog-box {
  display: inline-block;
  width: 80%;
  border: 0.5px solid black;
  vertical-align: top;
  margin-top: 50px;
  background-color: rgba(211, 211, 211, 0.2);
}

.option {
  display: grid;
  text-align: center;
  padding: 10px 20px;
  grid-template-areas:
    "dialog dialog"
    "optionA optionB"
    "optionC optionD";
  gap: 12px;
  padding: 12px;
}

.btnA {
  grid-area: optionA;
}

.btnB {
  grid-area: optionB;
}

.btnC {
  grid-area: optionC;
}

.btnD {
  grid-area: optionD;
}

.btn {
  border-radius: 5px;
  background-color: white;
}

.dialog {
  border-bottom: 1px solid black;
  grid-area: dialog;
  text-align: start;
}
